<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pollInterval" value="100" />
    <add key="waitTicks" value="150" />
	<add key="refreshInterval" value="20000" />
    <add key="longPressTicks" value="6" />
    <add key="controlDelay" value="50" />
	<add key="reorderThreshold" value="75" />
    <add key="stringReplace" value="%s" />
    <add key="redrawAlways" value="false" />
    <add key="forceDecimalPoint" value="true" />
    <add key="Fsuipc7LegacyLvars" value="false" />
    <add key="xpIP" value="127.0.0.1" />
    <add key="xpPort" value="49000" />
    <add key="fontDefault_de" value="Standard" />
    <add key="fontBold_de" value="Fett" />
    <add key="fontItalic_de" value="Kursiv" />
    <add key="fontDefault_en" value="Regular" />
    <add key="fontBold_en" value="Bold" />
    <add key="fontItalic_en" value="Italic" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>