<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pollInterval" value="200" />
    <add key="waitTicks" value="150" />
    <add key="longPressTicks" value="3" />
    <add key="appStartDelay" value="30" />
    <add key="controlDelay" value="50" />
    <add key="stringReplace" value="%s" />
    <add key="redrawAlways" value="false" />
    <add key="forceDecimalPoint" value="true" />
    <add key="Fsuipc7LegacyLvars" value="false" />
    <add key="fontDefault_de" value="Standard" />
    <add key="fontBold_de" value="Fett" />
    <add key="fontItalic_de" value="Kursiv" />
    <add key="fontDefault_en" value="Regular" />
    <add key="fontBold_en" value="Bold" />
    <add key="fontItalic_en" value="Italic" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>